# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,rails,ruby
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,macos,rails,ruby

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Rails ###
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

### Ruby ###
*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.

## Specific to RubyMotion:
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# vendor/Pods/

## Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

### Ruby Patch ###
# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,rails,ruby

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

._Viaplay.png

script/

console
Rakefile
README

Viaplay.png
app/.svn/all-wcprops
app/.svn/entries
app/controllers/.svn/text-base/uploads_controller.rb.svn-base
app/controllers/.svn/text-base/titles_controller.rb.svn-base
app/controllers/.svn/text-base/statuses_controller.rb.svn-base
app/controllers/.svn/text-base/series_numbers_controller.rb.svn-base
app/controllers/.svn/text-base/series_idents_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_tab_settings_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_lines_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_files_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_comparisons_controller.rb.svn-base
app/controllers/.svn/text-base/promos_controller.rb.svn-base
app/controllers/.svn/text-base/priorities_controller.rb.svn-base
app/controllers/.svn/text-base/previews_controller.rb.svn-base
app/controllers/.svn/text-base/preview_jpegs_controller.rb.svn-base
app/controllers/.svn/text-base/press_tab_settings_controller.rb.svn-base
app/controllers/.svn/text-base/press_lines_controller.rb.svn-base
app/controllers/.svn/text-base/press_filenames_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_position_settings_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_lines_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_filenames_controller.rb.svn-base
app/controllers/.svn/text-base/media_types_controller.rb.svn-base
app/controllers/.svn/text-base/media_folders_controller.rb.svn-base
app/controllers/.svn/text-base/media_files_controller.rb.svn-base
app/controllers/.svn/text-base/languages_controller.rb.svn-base
app/controllers/.svn/text-base/jpegs_controller.rb.svn-base
app/controllers/.svn/text-base/jpeg_folders_controller.rb.svn-base
app/controllers/.svn/text-base/ignores_controller.rb.svn-base
app/controllers/.svn/text-base/houses_controller.rb.svn-base
app/controllers/.svn/text-base/cross_channel_priorities_controller.rb.svn-base
app/controllers/.svn/text-base/countdown_ipps_controller.rb.svn-base
app/controllers/.svn/text-base/comparisons_controller.rb.svn-base
app/controllers/.svn/text-base/commons_controller.rb.svn-base
app/controllers/.svn/text-base/channels_controller.rb.svn-base
app/controllers/.svn/text-base/bugs_controller.rb.svn-base
app/controllers/.svn/text-base/aspects_controller.rb.svn-base
app/controllers/.svn/text-base/application_controller.rb.svn-base
app/controllers/.svn/entries
app/controllers/.svn/all-wcprops
app/helpers/.svn/all-wcprops
app/helpers/.svn/entries
app/helpers/.svn/text-base/application_helper.rb.svn-base
app/helpers/.svn/text-base/aspects_helper.rb.svn-base
app/helpers/.svn/text-base/bugs_helper.rb.svn-base
app/helpers/.svn/text-base/channels_helper.rb.svn-base
app/helpers/.svn/text-base/commons_helper.rb.svn-base
app/helpers/.svn/text-base/comparisons_helper.rb.svn-base
app/helpers/.svn/text-base/countdown_ipps_helper.rb.svn-base
app/helpers/.svn/text-base/cross_channel_priorities_helper.rb.svn-base
app/helpers/.svn/text-base/houses_helper.rb.svn-base
app/helpers/.svn/text-base/ignores_helper.rb.svn-base
app/helpers/.svn/text-base/jpeg_folders_helper.rb.svn-base
app/helpers/.svn/text-base/jpegs_helper.rb.svn-base
app/helpers/.svn/text-base/languages_helper.rb.svn-base
app/helpers/.svn/text-base/media_files_helper.rb.svn-base
app/helpers/.svn/text-base/media_folders_helper.rb.svn-base
app/helpers/.svn/text-base/media_types_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_filenames_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_lines_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_position_settings_helper.rb.svn-base
app/helpers/.svn/text-base/press_filenames_helper.rb.svn-base
app/helpers/.svn/text-base/press_lines_helper.rb.svn-base
app/helpers/.svn/text-base/press_tab_settings_helper.rb.svn-base
app/helpers/.svn/text-base/preview_helper.rb.svn-base
app/helpers/.svn/text-base/preview_jpeg_helper.rb.svn-base
app/helpers/.svn/text-base/priorities_helper.rb.svn-base
app/helpers/.svn/text-base/promos_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_comparisons_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_files_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_lines_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_tab_settings_helper.rb.svn-base
app/helpers/.svn/text-base/series_idents_helper.rb.svn-base
app/helpers/.svn/text-base/series_numbers_helper.rb.svn-base
app/helpers/.svn/text-base/statuses_helper.rb.svn-base
app/helpers/.svn/text-base/titles_helper.rb.svn-base
app/helpers/.svn/text-base/upload_helper.rb.svn-base
app/models/.svn/all-wcprops
app/models/.svn/entries
app/models/.svn/text-base/aspect.rb.svn-base
app/models/.svn/text-base/bug.rb.svn-base
app/models/.svn/text-base/channel.rb.svn-base
app/models/.svn/text-base/common.rb.svn-base
app/models/.svn/text-base/comparison.rb.svn-base
app/models/.svn/text-base/countdown_ipp.rb.svn-base
app/models/.svn/text-base/countdown_ipps_media_files.rb.svn-base
app/models/.svn/text-base/cross_channel_priority.rb.svn-base
app/models/.svn/text-base/house.rb.svn-base
app/models/.svn/text-base/ignore.rb.svn-base
app/models/.svn/text-base/jpeg_folder.rb.svn-base
app/models/.svn/text-base/jpeg.rb.svn-base
app/models/.svn/text-base/language.rb.svn-base
app/models/.svn/text-base/media_file.rb.svn-base
app/models/.svn/text-base/media_files_promos.rb.svn-base
app/models/.svn/text-base/media_folder.rb.svn-base
app/models/.svn/text-base/media_type.rb.svn-base
app/models/.svn/text-base/playlist_filename.rb.svn-base
app/models/.svn/text-base/playlist_line.rb.svn-base
app/models/.svn/text-base/playlist_position_setting.rb.svn-base
app/models/.svn/text-base/press_filename.rb.svn-base
app/models/.svn/text-base/press_line.rb.svn-base
app/models/.svn/text-base/press_tab_setting.rb.svn-base
app/models/.svn/text-base/priority.rb.svn-base
app/models/.svn/text-base/promo.rb.svn-base
app/models/.svn/text-base/schedule_comparison.rb.svn-base
app/models/.svn/text-base/schedule_file.rb.svn-base
app/models/.svn/text-base/schedule_line.rb.svn-base
app/models/.svn/text-base/schedule_tab_setting.rb.svn-base
app/models/.svn/text-base/series_ident.rb.svn-base
app/models/.svn/text-base/series_number.rb.svn-base
app/models/.svn/text-base/status.rb.svn-base
app/models/.svn/text-base/title.rb.svn-base
app/views/.svn/all-wcprops
app/views/.svn/entries
**/.svn/
public/data/clip/
public/data/clipsource/
public/data/diva/
public/data/playlist/
public/data/press/
public/data/proxies/
public/data/schedule/
public/data/special/
public/data/trailer/
public/data/via/
public/images/
public/public.7z
vendor/gems/
vendor/plugins/

Viaplay Copy.tga
Viaplay.tga
