# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,rails,ruby
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,macos,rails,ruby

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Rails ###
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

### Ruby ###
*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.

## Specific to RubyMotion:
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# vendor/Pods/

## Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

### Ruby Patch ###
# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,rails,ruby

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

._Viaplay.png

script/

console
Rakefile
README

Viaplay.png
app/.svn/all-wcprops
app/.svn/entries
app/controllers/.svn/text-base/uploads_controller.rb.svn-base
app/controllers/.svn/text-base/titles_controller.rb.svn-base
app/controllers/.svn/text-base/statuses_controller.rb.svn-base
app/controllers/.svn/text-base/series_numbers_controller.rb.svn-base
app/controllers/.svn/text-base/series_idents_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_tab_settings_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_lines_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_files_controller.rb.svn-base
app/controllers/.svn/text-base/schedule_comparisons_controller.rb.svn-base
app/controllers/.svn/text-base/promos_controller.rb.svn-base
app/controllers/.svn/text-base/priorities_controller.rb.svn-base
app/controllers/.svn/text-base/previews_controller.rb.svn-base
app/controllers/.svn/text-base/preview_jpegs_controller.rb.svn-base
app/controllers/.svn/text-base/press_tab_settings_controller.rb.svn-base
app/controllers/.svn/text-base/press_lines_controller.rb.svn-base
app/controllers/.svn/text-base/press_filenames_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_position_settings_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_lines_controller.rb.svn-base
app/controllers/.svn/text-base/playlist_filenames_controller.rb.svn-base
app/controllers/.svn/text-base/media_types_controller.rb.svn-base
app/controllers/.svn/text-base/media_folders_controller.rb.svn-base
app/controllers/.svn/text-base/media_files_controller.rb.svn-base
app/controllers/.svn/text-base/languages_controller.rb.svn-base
app/controllers/.svn/text-base/jpegs_controller.rb.svn-base
app/controllers/.svn/text-base/jpeg_folders_controller.rb.svn-base
app/controllers/.svn/text-base/ignores_controller.rb.svn-base
app/controllers/.svn/text-base/houses_controller.rb.svn-base
app/controllers/.svn/text-base/cross_channel_priorities_controller.rb.svn-base
app/controllers/.svn/text-base/countdown_ipps_controller.rb.svn-base
app/controllers/.svn/text-base/comparisons_controller.rb.svn-base
app/controllers/.svn/text-base/commons_controller.rb.svn-base
app/controllers/.svn/text-base/channels_controller.rb.svn-base
app/controllers/.svn/text-base/bugs_controller.rb.svn-base
app/controllers/.svn/text-base/aspects_controller.rb.svn-base
app/controllers/.svn/text-base/application_controller.rb.svn-base
app/controllers/.svn/entries
app/controllers/.svn/all-wcprops
app/helpers/.svn/all-wcprops
app/helpers/.svn/entries
app/helpers/.svn/text-base/application_helper.rb.svn-base
app/helpers/.svn/text-base/aspects_helper.rb.svn-base
app/helpers/.svn/text-base/bugs_helper.rb.svn-base
app/helpers/.svn/text-base/channels_helper.rb.svn-base
app/helpers/.svn/text-base/commons_helper.rb.svn-base
app/helpers/.svn/text-base/comparisons_helper.rb.svn-base
app/helpers/.svn/text-base/countdown_ipps_helper.rb.svn-base
app/helpers/.svn/text-base/cross_channel_priorities_helper.rb.svn-base
app/helpers/.svn/text-base/houses_helper.rb.svn-base
app/helpers/.svn/text-base/ignores_helper.rb.svn-base
app/helpers/.svn/text-base/jpeg_folders_helper.rb.svn-base
app/helpers/.svn/text-base/jpegs_helper.rb.svn-base
app/helpers/.svn/text-base/languages_helper.rb.svn-base
app/helpers/.svn/text-base/media_files_helper.rb.svn-base
app/helpers/.svn/text-base/media_folders_helper.rb.svn-base
app/helpers/.svn/text-base/media_types_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_filenames_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_lines_helper.rb.svn-base
app/helpers/.svn/text-base/playlist_position_settings_helper.rb.svn-base
app/helpers/.svn/text-base/press_filenames_helper.rb.svn-base
app/helpers/.svn/text-base/press_lines_helper.rb.svn-base
app/helpers/.svn/text-base/press_tab_settings_helper.rb.svn-base
app/helpers/.svn/text-base/preview_helper.rb.svn-base
app/helpers/.svn/text-base/preview_jpeg_helper.rb.svn-base
app/helpers/.svn/text-base/priorities_helper.rb.svn-base
app/helpers/.svn/text-base/promos_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_comparisons_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_files_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_lines_helper.rb.svn-base
app/helpers/.svn/text-base/schedule_tab_settings_helper.rb.svn-base
app/helpers/.svn/text-base/series_idents_helper.rb.svn-base
app/helpers/.svn/text-base/series_numbers_helper.rb.svn-base
app/helpers/.svn/text-base/statuses_helper.rb.svn-base
app/helpers/.svn/text-base/titles_helper.rb.svn-base
app/helpers/.svn/text-base/upload_helper.rb.svn-base
app/models/.svn/all-wcprops
app/models/.svn/entries
app/models/.svn/text-base/aspect.rb.svn-base
app/models/.svn/text-base/bug.rb.svn-base
app/models/.svn/text-base/channel.rb.svn-base
app/models/.svn/text-base/common.rb.svn-base
app/models/.svn/text-base/comparison.rb.svn-base
app/models/.svn/text-base/countdown_ipp.rb.svn-base
app/models/.svn/text-base/countdown_ipps_media_files.rb.svn-base
app/models/.svn/text-base/cross_channel_priority.rb.svn-base
app/models/.svn/text-base/house.rb.svn-base
app/models/.svn/text-base/ignore.rb.svn-base
app/models/.svn/text-base/jpeg_folder.rb.svn-base
app/models/.svn/text-base/jpeg.rb.svn-base
app/models/.svn/text-base/language.rb.svn-base
app/models/.svn/text-base/media_file.rb.svn-base
app/models/.svn/text-base/media_files_promos.rb.svn-base
app/models/.svn/text-base/media_folder.rb.svn-base
app/models/.svn/text-base/media_type.rb.svn-base
app/models/.svn/text-base/playlist_filename.rb.svn-base
app/models/.svn/text-base/playlist_line.rb.svn-base
app/models/.svn/text-base/playlist_position_setting.rb.svn-base
app/models/.svn/text-base/press_filename.rb.svn-base
app/models/.svn/text-base/press_line.rb.svn-base
app/models/.svn/text-base/press_tab_setting.rb.svn-base
app/models/.svn/text-base/priority.rb.svn-base
app/models/.svn/text-base/promo.rb.svn-base
app/models/.svn/text-base/schedule_comparison.rb.svn-base
app/models/.svn/text-base/schedule_file.rb.svn-base
app/models/.svn/text-base/schedule_line.rb.svn-base
app/models/.svn/text-base/schedule_tab_setting.rb.svn-base
app/models/.svn/text-base/series_ident.rb.svn-base
app/models/.svn/text-base/series_number.rb.svn-base
app/models/.svn/text-base/status.rb.svn-base
app/models/.svn/text-base/title.rb.svn-base
app/views/.svn/all-wcprops
app/views/.svn/entries
**/.svn/
public/data/clip/
public/data/clipsource/
public/data/diva/
public/data/playlist/
public/data/press/
public/data/proxies/
public/data/schedule/
public/data/special/
public/data/trailer/
public/data/via/
public/images/
public/public.7z
vendor/gems/
vendor/plugins/

Viaplay Copy.tga
Viaplay.tga
public/data/still/PICT_53_SNEKKER.jpg
public/data/still/PICT_53_SNEKKER.tga
public/data/still/IM/imagemagick_6.7.7.10-6ubuntu3.13_amd64.deb
public/data/still/IM/imagemagick-common_6.7.7.10-6ubuntu3.13_all.deb
public/data/still/IM/ImageMagicKDownload.sh
public/data/still/IM/liblqr-1-0_0.4.1-2ubuntu1_amd64.deb
public/data/still/IM/libmagickcore5_6.7.7.10-6ubuntu3.13_amd64.deb
public/data/still/IM/libmagickwand5_6.7.7.10-6ubuntu3.13_amd64.deb
public/javascripts/component.js
public/javascripts/jquery-2.1.1.min.js
server
.com.apple.timemachine.supported-3fc0986-7caa-4974-a0cb-76bf42a58522
.com.apple.timemachine.supported-18b716ac-4a7d-45d6-844-1e30d3889938
.com.apple.timemachine.supported-a1d14c5c-8f55-454d-8b1c-afab5b5ea28
.com.apple.timemachine.supported-b5de9619-767b-4634-9fc4-9cb0be1aee7a
.com.apple.timemachine.supported-e061037-a69b-4a24-b553-4ca934d9c33a
.com.apple.timemachine.supported-7a557a8-d9b-48d1-8fe9-dd1f2be8f592
.com.apple.timemachine.supported-70b91d52-9a-4fee-b1fe-7a6a6a52951a
.com.apple.timemachine.supported-d0c33d46-b511-4276-bcdb-42c17376b7c3
.com.apple.timemachine.supported-df63468-f667-488f-aecf-a61aac9ec7ff
.com.apple.timemachine.supported-1e5ef460-668b-48b-bbf-b04ee049b3b5
.com.apple.timemachine.supported-3a50942b-ded7-4a8-bbf4-578fc4f38724
.com.apple.timemachine.supported-3cc26e2-b1d8-4f31-9224-d73486ffca4
.com.apple.timemachine.supported-6dc82854-8287-4038-938c-32eefb2be6
.com.apple.timemachine.supported-8a3973b-a833-48f0-bb8f-79944e938317
.com.apple.timemachine.supported-8dfd3d0-b873-4be0-8ad5-bf17118cdb3e
.com.apple.timemachine.supported-20e6ff7f-f7be-47b6-85c4-a13fa728c2
.com.apple.timemachine.supported-23d238d5-389e-4269-af3d-4f144a94ec4e
.com.apple.timemachine.supported-32f5f7dc-e1d4-4028-8c2b-625ac9c8d62f
.com.apple.timemachine.supported-50e88f2b-5565-433a-9d3f-48893c626b
.com.apple.timemachine.supported-474a11b0-59cc-42e9-a8fe-ff6143f5433b
.com.apple.timemachine.supported-1016e7c-ecb-4795-8e36-a14dece65ace
.com.apple.timemachine.supported-a0ec7849-b317-4d78-b73b-d65ea6a43056
.com.apple.timemachine.supported-aa934834-8259-4044-8871-e05110f0bc86
.com.apple.timemachine.supported-caf9acdb-7f14-486-81a6-1bf4f5b83f6c
.com.apple.timemachine.supported-e3e6cd6-ab14-4887-9c88-6b1029d71498
.com.apple.timemachine.supported-f5f2ce47-d3ce-4b4a-b7d1-cac753ff6292
.com.apple.timemachine.supported-6a5d8a9d-5465-4e5d-abc0-80d81ad5ebc2
.com.apple.timemachine.supported-6eec2b7-a35c-46ec-ad9c-d043321989d5
.com.apple.timemachine.supported-7ff5a4e9-8ec-49ac-ac58-bc8fbafc97dc
.com.apple.timemachine.supported-8fcfe0b4-8ce5-406d-af56-3fc8d1e547b9
.com.apple.timemachine.supported-44e3476-838e-4dca-804e-1ba6e8fbda1f
.com.apple.timemachine.supported-44216b3e-2a39-4a1e-a4d3-6bc72adad54
.com.apple.timemachine.supported-643f7ded-16da-4ed-a60-4beeefc67342
.com.apple.timemachine.supported-886934-54c8-4c62-bef1-7b5883dfd4a
.com.apple.timemachine.supported-d610f4c-4a60-4978-a1b2-c25fad129891
.com.apple.timemachine.supported-4ac58d4f-9bc5-4d28-9728-a6bba463f09d
.com.apple.timemachine.supported-6afe6bf7-b089-40f5-b10-94a18bda793e
.com.apple.timemachine.supported-74dbe197-c02b-4880-a742-c96f58b94fdb
.com.apple.timemachine.supported-96f3dc84-773a-4534-8788-b0b09889a8ad
.com.apple.timemachine.supported-1216716f-fcb2-449d-a836-8e91103cfad3
.com.apple.timemachine.supported-a66a3282-67d8-47e8-bb25-9a8f8061fd90
.com.apple.timemachine.supported-a68955b8-d7d8-4435-9534-a0671852d92c
.com.apple.timemachine.supported-bd353a94-443e-43e3-b6a3-38735ad49a92
.com.apple.timemachine.supported-e74db15-be5-46a-af28-f6bde247282
.com.apple.timemachine.supported-ef8d7594-9723-4ec6-a87a-8c96152ab94d
.com.apple.timemachine.supported-52e055f3-f0ad-471e-a4d0-6e6c899be639
.com.apple.timemachine.supported-76e81a7f-589b-4d8-bed9-e997a82ed55
.com.apple.timemachine.supported-d98dd472-45a0-4d10-879d-9ec0823f858c
.com.apple.timemachine.supported-3e4b3ea6-dae4-4e96-8175-edace532a18b
.com.apple.timemachine.supported-88bb8f5f-1d3-4932-8cbb-6d5a48154a47
.com.apple.timemachine.supported-9176c10-5f60-4cf6-85a2-50525275f079
.com.apple.timemachine.supported-d41fa0d9-697e-43cd-ac44-207253b13a71
.com.apple.timemachine.supported-4b89cbe8-6983-4f58-a9c5-09cacda3452
.com.apple.timemachine.supported-cb83257e-d6ba-4bdc-8274-34533ddd527b
.com.apple.timemachine.supported-566d541-d886-4cc0-9bb0-c26112102d32
.com.apple.timemachine.supported-eba58380-499-416-a7ed-d683f845bc25
.com.apple.timemachine.supported-2bb0e5dc-3f8a-469f-964c-f6f34cad9e2b
.com.apple.timemachine.supported-fe8de5e-86b0-47dd-aaf6-83e07230397b
.com.apple.timemachine.supported-a8be1a4-739-40eb-872f-ccc247715c90
.com.apple.timemachine.supported-fa5d99b7-339a-41d7-b9ea-ce52b5738b8
.com.apple.timemachine.supported-a0afffd-6bc8-4012-9fd1-4fa748a89487
.com.apple.timemachine.supported-226b658-72c4-4c28-8b5d-8f49deaceee
.com.apple.timemachine.supported-35ce2a25-6871-42b6-a5a1-2ad51249d2ef
.com.apple*
public/data/still/
