<h1>New exception_list</h1>

<% form_for(@exception_list) do |f| %>
  <%= f.error_messages %>

  <%= render(:partial => 'entry', :locals => {:f => f} )%>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', exception_lists_path %>