<% content_for(:title) do%>
	New Viafree / Viaplay Priority: MuVi2 Database
<% end %>

<h1>New Viafree / Viaplay Priority</h1>

<% form_for(@on_demand) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', on_demands_path %>