<p>
  <b>Media file:</b>
  <%=h @dynamic_special_media.media_file_id %>
</p>

<p>
  <b>Dynamic special image spec:</b>
  <%=h @dynamic_special_media.dynamic_special_image_spec_id %>
</p>


<%= link_to 'Edit', edit_dynamic_special_media_path(@dynamic_special_media) %> |
<%= link_to 'Back', dynamic_special_medias_path %>