<h1>Dynamic Special Field Specification</h1>
<p>
  <b>Name:</b><br/>
  <%=h dynamic_special_image_spec.name %>
</p>

<p>
  <b>Image:</b><br/>
  <%=h dynamic_special_image_spec.image_description %>
</p>

<p>
  <b>Display Folder:</b><br/>
  <%=h dynamic_special_image_spec.display_folder %>
</p>
<p>
  <b>Upload Folder:</b><br/>
  <%=h dynamic_special_image_spec.upload_folder %>
</p>