<h1>New Logo</h1>

<% form_for(@dynamic_special_logo) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dynamic_special_logos_path %>